@model IEnumerable<GospelInnMinistry.Models.Event>




<div class="element-block events-listing">
    <div class="events-listing-header">
       
        @*<a href="events.html" class="pull-right basic-link">All Events</a>*@
        <h3 class="element-title">Upcoming Events</h3>
        <hr class="sm">
    </div>
    <div class="events-listing-content">

        @if(Model.Count() == 0)
        {
           <h3 class="text-info"> No Events</h3>
        }


        @foreach (var item in Model)
        {
            <div class="event-list-item event-dynamic">
                <div class="event-list-item-date">
                    <span class="event-date">
                        <span class="event-day">@Html.DisplayFor(modelItem => item.StartDate.Value.Day)</span>
                        <span class="event-month">@Html.DisplayFor(modelItem => item.StartDate.Value.Month)/ @Html.DisplayFor(modelItem => item.StartDate.Value.Year)</span>
                    </span>
                </div>
                <div class="event-list-item-info">
                    <div class="lined-info">
                        <h4><a href="single-event.html" class="event-title">@Html.DisplayFor(modelItem => item.EventName)</a></h4>
                    </div>
                    <div class="lined-info">
                        @*<span class="meta-data"><i class="fa fa-clock-o"></i><span class="event-time">@Html.DisplayFor(modelItem => item.StartDate.ToString())</span></span>*@
                    </div>
                    <div class="lined-info event-location">
                        <span class="meta-data"><i class="fa fa-map-marker"></i> <span class="event-location-address">@Html.DisplayFor(modelItem => item.Location)</span></span>
                    </div>
                </div>
                <div class="event-list-item-actions">
                    @*<a href="#" class="btn btn-default btn-transparent event-tickets event-register-button">Register</a>*@
                    <ul class="action-buttons">
                        <li title="Share event"><a href="#" data-trigger="focus" data-placement="top" data-content="" data-toggle="popover" data-original-title="Share Event" class="event-share-link"><i class="icon-share"></i></a></li>
                        @*<li title="Get directions" class="hidden-xs"><a href="#" class="cover-overlay-trigger event-direction-link"><i class="icon-compass"></i></a></li>
                        <li title="Contact event manager"><a href="#" data-toggle="modal" data-target="#Econtact" class="event-contact-link"><i class="icon-mail"></i></a></li>*@
                    </ul>
                </div>
            </div>
        }

   
    </div>
</div>



