@model GospelInnMinistry.Models.GroupEventViewModel

@{
    ViewBag.Title = "GospelInnLiterature";
}


@*<div>
    <h4>Group</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.EventName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")

</p>*@


<!-- End Site Header -->
<!-- Start Page Header -->
<div class="page-header parallax clearfix" style="background-color:#333">
    <div class="page-header-overlay" style="background-image:url();"></div>
    <div class="title-subtitle-holder">
        <div class="title-subtitle-holder-inner">
            <h2>Gospel Inn Literature</h2>
            @*<hr class="sm">
                <span class="subtitle">Way to show what is going on in our church</span>*@
        </div>
    </div>
</div>
<!-- End Page Header -->
<!-- Breadcrumbs -->
<div class="lgray-bg breadcrumb-cont">
    <div class="container">
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">Gospel Inn Literature</li>
        </ol>
    </div>
</div>
<!-- Start Body Content -->
<div class="main" role="main">
    <div id="content" class="content full">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="posts-listing">
                        <article class="post-list-item format-standard">
                            <div class="post-media">
                             
                                <a><img src="../images/branches/20170419librariestease.jpg" alt="" class="post-thumb"></a>
                            </div>
                            <div class="post-excerpt">

                             
                                <p>
                                    Gospel Inn Literature Trust (GILT) is the print/ publishing arm of Gospel
                                    Inn. The Trust has a collection of beautiful, powerful and easy to read
                                    volumes.
                                </p>
                                <p>
                                    <strong>GILT BOOKS</strong>
                                </p>
                                <p>
                                    Gospel Inn Literature Trust presents the following volumes:
                                </p>
                                <ul>
                                    <li>
                                        Parenting According to Plan
                                    </li>
                                    <li>
                                        Extra-ordinary Closet
                                    </li>
                                    <li>
                                        Stones from the Brook
                                    </li>
                                    <li>
                                        The King’s Dirge
                                    </li>
                                    <li>
                                        The Temperature of My spirit
                                    </li>
                                </ul>
                                <p>
                                    <strong>GILT PERIODICALS</strong>
                                </p>
                                <ul>
                                    <li>
                                        Samaritan Digest
                                    </li>
                                </ul>


                            </div>
                        </article>

                        <div> @{Html.RenderPartial("_UpcomingEvents", Model._event);}   </div>

                    </div>

                </div>
                <div class="col-md-4">
                    @*<div class="tabs">*@


          




                    <ul class="nav nav-tabs">
                        <li class="active"> <a data-toggle="tab" href="#sampletab1"> BOOKS </a> </li>
                        <li class=""> <a data-toggle="tab" href="#sampletab2">PICTURES</a> </li>
                        @*<li class="active"> <a data-toggle="tab" href="#sampletab3"> Sample Tab #3 </a> </li>*@
                    </ul>
                    <div class="tab-content">
                        <div id="sampletab1" class="tab-pane active">
                            @*<h4> BOOKS</h4>*@
                            <hr />
                            <div class="grid-item-inner">
                                <a  class="media-box">
                                    <img src="~/images/branches/STONES FROM THE BROOK - AMEH ABRAHAM AMANA.jpg" alt="" />

                                    @*<span class="zoom"><span class="icon"><i class="icon-eye"></i></span></span>*@
                                </a>
                                <div class="grid-content">
                                    <h3><a href="" class="event-title">STONES FROM THE BROOK</a></h3>
                                </div>
                                <div class="grid-footer clearfix">
                                    <ul class="action-buttons">
                                        <b>By Pastor Ameh Abraham Amana</b>
                                    </ul>
                                </div>
                            </div> 
                        </div>
                        <div id="sampletab2" class="tab-pane">
                            <div id="sampletab1" class="tab-pane active">
                                @{Html.RenderPartial("_PhotoGallery", Model._grouppictures);}
                                @Html.ActionLink("More pictures", "Gallery", "Media")
                            </div>
                        </div>
                        @*<div id="sampletab3" class="tab-pane active">
                <p>3</p>
            </div>*@
                        @*</div>*@



                    </div>
        </div>

                </div>
            </div>
            @*<div class="col-md-8"> @{Html.RenderPartial("_UpcomingEvents", Model._event);}   </div>

        </div>*@
    </div>
</div>
<!-- End Body Content -->